# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
*.env

# Django stuff:
*.log
db.sqlite3
/media
/staticfiles
/local_settings.py

# Pytest / coverage
.coverage
htmlcov/
.pytest_cache/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# macOS cruft
.DS_Store